@{
    ViewBag.Title = "About Alex Hankins";
}
<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>

<p>Alex Hankins is a 2nd semester senior attending Ohio University. Majoring in MIS with minors in Finance & Business Analytics, Alex is currently set to graduate in May of 2020. He has spent the past two summers interning with U.S. Bank in Cincinnati, Ohio as well as Chicago, IL. 
    Following these experiences, he decided to go down a different path and earned a full-time position with Infoverity as a consultant and will begin this role in June of 2020.</p>
