@{
    ViewBag.Title = "Contact Me!";
}
<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>

<address>
    Alex Hankins<br />
    67 1/2 S. Court St.<br />
    Athens, OH 45701 <br />
    <abbr title="Phone">P:</abbr>
    513.305.5228
</address>

<address>
    <strong>Catmail:</strong>   <a href="mailto:ah225715@ohio.edu">ah225715@ohio.edu</a><br />
</address>